*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #f6f5ae;
}

.btn {
  width: 40vw;
  height: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__bg {
    font-size: 1.6rem;
    width: 15rem;
    height: 5rem;
    background-color: #fff;
    border-radius: 3rem;
  }
}

@mixin zIndex {
  position: relative;
  z-index: -1;
  opacity: 1;
}

.bgcolor-- {
  &orange {
    background: linear-gradient(30deg, #ff9c5b, #ffc260, #fcff55);
    @include zIndex;
    animation: trans 1.5s ease;
  }
  &green {
    background: linear-gradient(30deg, #7cf57c, #f6f5ae, #fac0ce);
    @include zIndex;
    animation: trans 1.5s ease;
  }
  &purple {
    background: linear-gradient(30deg, #49eaff, #c4a0ff, #e658ff);
    @include zIndex;
    animation: trans 1.5s ease;
  }
  &plant {
    background-image: url(../img/1.jpg);
    background-size: cover;
    @include zIndex;
    animation: trans 1.5s ease;
  }
}
@keyframes trans {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
