*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f5ae;
}

.btn {
  width: 40vw;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn__bg {
  font-size: 1.6rem;
  width: 15rem;
  height: 5rem;
  background-color: #fff;
  border-radius: 3rem;
}

.bgcolor--orange {
  background: linear-gradient(30deg, #ff9c5b, #ffc260, #fcff55);
  position: relative;
  z-index: -1;
  opacity: 1;
  -webkit-animation: trans 1.5s ease;
          animation: trans 1.5s ease;
}

.bgcolor--green {
  background: linear-gradient(30deg, #7cf57c, #f6f5ae, #fac0ce);
  position: relative;
  z-index: -1;
  opacity: 1;
  -webkit-animation: trans 1.5s ease;
          animation: trans 1.5s ease;
}

.bgcolor--purple {
  background: linear-gradient(30deg, #49eaff, #c4a0ff, #e658ff);
  position: relative;
  z-index: -1;
  opacity: 1;
  -webkit-animation: trans 1.5s ease;
          animation: trans 1.5s ease;
}

.bgcolor--plant {
  background-image: url(../img/1.jpg);
  background-size: cover;
  position: relative;
  z-index: -1;
  opacity: 1;
  -webkit-animation: trans 1.5s ease;
          animation: trans 1.5s ease;
}

@-webkit-keyframes trans {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes trans {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
